* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: radial-gradient(#fff, #ffd6d6);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 70px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
}

p, small {
    color: #555;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;    
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;    
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #563434;
}

.categories{
    margin-top: 70px;
    margin-bottom: 70px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.col-4 {
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.col-4 h4 {
    font-weight: normal;
    color: #555;
}

.col-4 p {
    font-size: 14px;
    color: #555;
}

.rating, i {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

.testimonials {
    padding-top: 100px;
}

.testimonials .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonials .col-3:hover {
    transform: translateY(-10px);
}

.testimonials .col-3 .user {
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777;
}

.testimonials .col-3 h3 {
    color: #555;
    font-size: 18px;
    font-weight: 600;
}

.brands {
    margin: 100px auto;

}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.6s;
}

.col-5 img:hover {
    filter: grayscale(0%);
}

footer {
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

footer p {
    color: #8a8a8a;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #8a8a8a;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #b5b5b5;

}

.copyright {
    text-align: center;
}